html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* #bodyBack {
    background-image : url("../img/back.jpg");
    background-repeat : no-repeat;
    background-size: cover;
} */

.connect {
    width: 120px;
}

.inputAccueil {
    box-shadow: -2px 4px 3px 0px black;
    
}
.inputAccueil:focus {
    outline: none;
}
    

.inscription, .connection {
    display: none;
}

.cadre {
    width: 344px;
    border: 2px solid black;
}

.btn-success:focus {
    color: none;
    background-color: none;
    border-color: none;
    box-shadow: none;
}
.btn:focus {
    box-shadow: none;
}

.btn_game {
    width : 100px ;
}

.imgPerso {
    width: 200px;
}

.imgMonsters {
    width: 80px;
}

#persoCol {
    height: 100%;
}

#principalRow {
    height : 100%;
}

.monstersColDimension {
    height: 174px;
}

#CancelButton {
    visibility: hidden;
    height: 0px;
    margin-top: 0px;
}

#border {
    align-self: center;
    width: 250px;
    height: 475px;
    border: 2px solid black;
    box-shadow: -4px 5px 8px 0px black;
    transform: translate3d(0, 0, 0);
}

.borderMonstersCss {
    width: 270px;
    height: 270px;
    border: 2px solid black;
    box-shadow: -4px 5px 8px 0px black;
}

#showLevel {
    color: rgb(8, 121, 8);
    font-size: large;
    font-weight: 800;
    opacity: 0;
}

.monstersRow {
    height: 250px;
}

.animationAttacked {
    animation : shake 0.5s;
    transform : translate3d(0, 0, 0);
}

.animationAttackedText {
    animation: growText 0.9s;
}

.animationAttackMonster {
    animation: attack 0.9s;
}

.animationHealPerso {
    animation: growText 0.9s;
    color: rgb(9, 134, 9);
}

@keyframes bright {
	0% {
        /* Start from -150px to initial position from 0 opacity to 1 */
		transform: translateY(150px);
		opacity: 0;
	}
	50% {
		transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(150px);
        opacity: 0;
    }
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes growText {
	0% {
        font-size: 16px;
	}
	50% {
		font-size: 36px;
    }
    100% {
        font-size: 16px;
    }
}

@keyframes attack {
	0% {
        transform: translateX(0px);
	}
	50% {
        transform: translateX(-150px);
    }
    100% {
        transform: translateX(0px);
    }
}