html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.connect {
    width: 120px;
}

.inputAccueil {
    box-shadow: -2px 4px 3px 0px black;
    
}
.inputAccueil:focus {
    outline: none;
}
    

.inscription, .connection {
    display: none;
}

.cadre {
    width: 344px;
    border: 2px solid black;
}

.btn-success:focus {
    color: none;
    background-color: none;
    border-color: none;
    box-shadow: none;
}
.btn:focus {
    box-shadow: none;
}

.btn_game {
    width : 100px ;
}

.imgPerso {
    width: 200px;
}

#persoCol {
    height: 100%;
}

#principalRow {
    height : 100%;
}

.monstersColDimension {
    height: 174px;
}

#CancelButton {
    visibility: hidden;
    height: 0px;
    margin-top: 0px;
}

#border {
    align-self: center;
    width: 250px;
    height: 400px;
    border: 2px solid black;
    box-shadow: -4px 5px 8px 0px black;
}